<div class="jumbotron">
  <p class="lead">
    <span class="glyphicon glyphicon-th"></span>
    Dialer
  </p>
</div>

<div class="row interface">
  <form class="form-inline">
    <div class="form-group">
      <label for="numberToDial">Just dial a number: </label>
      <input type="tel" class="form-control" id="numberToDial" placeholder="Enter number" ng-model="form.numberToDial">
    </div>
    <button ng-click="dial()" class="btn btn-success" ng-hide="connected">Dial</button>
    <button ng-click="hangup()" class="btn btn-danger" ng-show="connected">Disconnect</button>
  </form>
  <h4 class="{{callState}}"><span class="glyphicon glyphicon-earphone"></span> {{callState}}</h4>
  <br>
  <p><span class="glyphicon glyphicon-leaf {{RegisterState}}"></span> {{RegisterState}} since {{clock}}</p>
</div>

<audio id="audio_remote" autoplay="autoplay" />
